* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
  }
  body {
    background: -webkit-linear-gradient(left, #2dbd6e, #a6f77b);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 1px 2px 8px 5px rgba(0, 0, 0, 0.178);
    margin: auto;
    width: 30%;
  }
  #card-content {
    padding: 20px;
  }
  
  /* Card Title Design */
  #card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px 0;
  }
  .underline-title {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 2px;
    margin: 0.5rem auto 0 auto;
    width: 150px;
  }

  /* Form Style */
  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .form-group label {
    font-family: "Raleway Thin", sans-serif;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;
    display: block;
    margin-top: 15px;
  }
  .form-group input {
    padding: 10px 50px 10px 10px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    outline: none;
    margin-top: 5px;
    width: 100%;
  }
  input::placeholder {
    color: #cdcdcd;
    font-family: "Raleway Thin", sans-serif;
    font-size: 12px;
  }
  .gender-group {
    margin-left: 18px;
    margin-top: 15px;
  }
  .gender-label {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .gender-options input {
    margin-left: 12px;
  }
  .gender-options label {
    font-family: "Raleway Thin", sans-serif;
    font-weight: 400;
  }

  /* Button Style */
  .form-buttons {
    margin-top: 30px;
    margin-bottom: 18px;
  }
  .submit-btn {
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-family: "Raleway Thin", sans-serif;
    margin: 0 auto;
    transition: 0.25s;
    margin-left: 14px;
    padding: 10px 24px;
    transition: 0.3s;
  }

  .submit-btn:hover {
    box-shadow: 0px 1px 6px #24c64f;
  }

  .cancel-btn {
    background-color:#ff5c57;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-family: "Raleway Thin", sans-serif;
    margin: 0 auto;
    transition: 0.25s;
    margin-left: 18px;
    padding: 10px 24px;
    transition: 0.3s;
  }

  .cancel-btn:hover {
    box-shadow: 0px 1px 6px #ff5c57;
  }

  